:root {
  --text-opaque: #fff;
  --text-dim: hsla(0,0%,100%,0.8);
  --text-color: hsla(0,0%,100%,0.8);
  --font: "Montserrat","Segoe UI",sans-serif;
  --home-color: #1d2023;
  --flatbox-color: #23262a;
  --workspace-color: #171719;
  --menu-color: #202225;
  --panel-color: #292c31;
  --title-color: #24262b;
  --component-border: hsla(0,0%,100%,0.5);
  --component-dim: hsla(0,0%,100%,0.06);
  --component-shade: rgba(0,0,0,0.1);
  --component-color: #34363c;
  --component-highlight: #424549;
  --slider-color: #494b50;
  --normal-opacity: 0.6;
  --hover-opacity: 1;
  --accent-negative: #3f4246;
  --splitter-size: 8px;
  --splitter-small-size: 4px;
  --scrollbar-color: #ffffff20;
  --scrollbar-color-hover: #ffffff30;
  --accent-color: #00a5a5;
  --accent-light-color: #00b2b2;
  --accent-shadow-color: #00a5a599;
}

body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--flatbox-color);
}



#project-url {
  word-break: break-word;
}

#toast-container {
  font-size: 13px;
  font-weight: lighter;
}

#toast-container > div {
  opacity: 0.95;
}

#toast-container > div,
#toast-container > div:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  font-family: Helvetica, sans-serif;
}

/* LOGO VERSION */

.gjs {
  height:0px; 
  overflow:hidden;
}

.gjs-pn-commands .gjs-pn-buttons,
#gjs-pn-commands .gjs-pn-buttons {
  display: none;
}

.gjs-logo {
  max-height: 25px;
  margin-right: 5px;
}

.gjs-logo-cont {
  position: relative;
  display: inline-block;
  font-size: 20px;
}

.gjs-logo-version {
  position: absolute;
  font-size: 10px;
  padding: 1px 7px;
  border-radius: 15px;
  bottom: 2px;
  right: -43px;
  background: red;
  color:white;
}

/* INFO PANEL */

.gjs-mdl-dialog-sm {
  width: 300px;
}

#info-panel {
  line-height: 17px;
}

.info-panel-logo {
  display: block;
  height: 90px;
  margin: 0 auto;
  width: 90px;
}

.info-panel-logo path {
  stroke: #eee !important;
  stroke-width: 8 !important;
}

.info-panel-label {
  margin-bottom: 10px;
  font-size: 13px;
}

.info-panel-link {
  text-decoration: none;
}

/* ADS */

/* .gjs-pn-panel#gjs-pn-views-container,
.gjs-pn-panel.gjs-pn-views-container {
  height: calc(100% - 150px);
} */

.ad-cont {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
  width: 15%;
  height: 150px;
}

.gjs-block {
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 45%;
  min-width: 45px;
  padding: 1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 90px;
  cursor: all-scroll;
  font-size: 11px;
  font-weight: lighter;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--component-border);
  border-radius: 4px;
  margin: 10px 2.5% 5px;
  -webkit-box-shadow: 0 1px 0 0 rgb(0 0 0 / 15%);
  box-shadow: 0 1px 0 0rgba(0,0,0,.15);
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s;
  -webkit-transition-property: color,-webkit-box-shadow;
  transition-property: color,-webkit-box-shadow;
  transition-property: box-shadow,color;
  transition-property: box-shadow,color,-webkit-box-shadow;
}

.gjs-category-title, .gjs-layer-title, .gjs-block-category .gjs-title, .gjs-sm-sector .gjs-sm-title, .gjs-clm-tags .gjs-sm-title {
  background-color: var(--flatbox-color);
}

.gjs-field {
  color: var(--text-dim);
  background-color: var(--flatbox-color);
}

.gjs-sm-field input {
  color: inherit
}

.gjs-sm-field select {
  color: inherit
}


.gjs-input-unit {
  color: inherit
}

.gjs-one-bg {
  background-color: var(--home-color);
}

.gjs-two-color {
  color: var(--text-dim);
}

.gjs-three-bg {
  color:  var(--flatbox-color);
  background-color: var(--flatbox-color);
}

.gjs-four-color {
  color:var(--text-dim);
}

.gjs-block {
  width: 45%;
}

#carbonads {
  font: caption;
  padding: 20px 10px;
}

.carbon-link {
  text-decoration: none;
  font: caption;
}

.carbon-img {
  float: right;
  margin-left: 10px;
}

.carbon-img img {
  border-radius: 3px;
  max-width: 100px !important;
  max-height: 77px;
}

.carbon-text {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-weight: lighter;
}

.carbon-poweredby {
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
  float: right;
}

.carbon-cta-c {
  text-align: right;
  padding-top: 5px;
}

.carbon-cta {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}

.gjs-block-label svg,
.gjs-block__media svg {
  /* width: 54px; */
}

/* Temporary fix #2490 */
.gjs-clm-tag-status,
.gjs-clm-tag-close {
    width: 12px;
    height: 12px;
}
.gjs-clm-tags-btn {
    width: 24px;
}

.inline {
  display: inline;
}

.icon-add-comp::before, .icon-comp100::before,.icon-comp50::before,.icon-comp30::before,.icon-rm::before{ content: '';}
        /* .icon-add-comp {
          background: url("./img/icon-sq-a.png") no-repeat center;
        }
        .icon-comp100 {
          background: url("./img/icon-sq-1.png") no-repeat center;
        }
        .icon-comp50 {
          background: url("./img/icon-sq-2.png") no-repeat center;
        }
        .icon-comp30 {
          background: url("./img/icon-sq-3.png") no-repeat center;
        }
        .icon-rm {
          background: url("./img/icon-sq-r.png") no-repeat center;
        } */

        .icons-flex {
          background-size: 70% 65% !important;
          height: 15px;
          width: 17px;
          opacity: 0.9;
        }
        /* .icon-dir-row {
          background: url("./img/flex-dir-row.png") no-repeat center;
        }
        .icon-dir-row-rev {
          background: url("./img/flex-dir-row-rev.png") no-repeat center;
        }
        .icon-dir-col {
          background: url("./img/flex-dir-col.png") no-repeat center;
        }
        .icon-dir-col-rev {
          background: url("./img/flex-dir-col-rev.png") no-repeat center;
        }
        .icon-just-start{
         background: url("./img/flex-just-start.png") no-repeat center;
        }
        .icon-just-end{
         background: url("./img/flex-just-end.png") no-repeat center;
        }
        .icon-just-sp-bet{
         background: url("./img/flex-just-sp-bet.png") no-repeat center;
        }
        .icon-just-sp-ar{
         background: url("./img/flex-just-sp-ar.png") no-repeat center;
        }
        .icon-just-sp-cent{
         background: url("./img/flex-just-sp-cent.png") no-repeat center;
        }
        .icon-al-start{
         background: url("./img/flex-al-start.png") no-repeat center;
        }
        .icon-al-end{
         background: url("./img/flex-al-end.png") no-repeat center;
        }
        .icon-al-str{
         background: url("./img/flex-al-str.png") no-repeat center;
        }
        .icon-al-center{
         background: url("./img/flex-al-center.png") no-repeat center;
        } */

         [data-tooltip]::after {
           background: rgba(51, 51, 51, 0.9);
         }

         .gjs-pn-commands {
           min-height: 40px;
         }

         #gjs-sm-float,
         .gjs-pn-views .fa-cog {
            display: none;
         }

         .gjs-am-preview-cont {
           height: 100px;
           width: 100%;
         }
/* 
         .gjs-logo-version {
           background-color: #756467;
         } */

        .gjs-pn-panel.gjs-pn-views {
          padding: 0;
          border-bottom: none;
        }

        .gjs-pn-btn {
          transition: all 0.2s ease-in-out;
        }

        .gjs-pn-btn:hover::before {
          color: var(--accent-color);
          box-shadow: 0 5px 15px var(--accent-shadow-color);
        }

        .gjs-pn-btn.gjs-pn-active {
          box-shadow: none;
          color: var(--accent-color);
          background: var(--component-dim);
          border-color: var(--component-border);
        }

        .gjs-pn-views .gjs-pn-btn {
            margin: 0;
            height: 40px;
            padding: 10px;
            width: 33.3333%;
            border-bottom: 2px solid rgba(0, 0, 0, 0.3);
        }

        .CodeMirror {
          min-height: 450px;
          margin-bottom: 8px;
        }
        .grp-handler-close {
          background-color: transparent;
          color: #ddd;
        }

        .grp-handler-cp-wrap {
          border-color: transparent;
        }


/* Project Manager */

.site-info h2 {
  font-size: 14px;
}

.app button {
  background: var(--accent-color);
}

.app button:hover {
  background: var(--accent-light-color);
}