

        <!-- Modal -->
        <div class="modal fade" id="confirmation-panel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Congrats!</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                
                  <div class="alert alert-success text-wrap" role="alert">
                    <h4 class="alert-heading">Your site is live!</h4>
                    <a target="_blank" href="https://dappify.com" id="project-url">Your project URL</a>
                    <hr>
                    <p class="mb-0">Make sure to copy the URL and share it with your friends!.</p>
                  </div>
      
           
          
                </div>
              </div>
            </div>
          </div>
      